html {
    scroll-behavior: smooth;
}

/*Title Page Styles*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;
    overflow: scroll;*/
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-beige-tp {
    background-color: #F2EDDC;
    
}

.bg-beige {
    background-color: #F2EDDC;
    background-image: url(images/giant-quotation-mark.svg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff;
}

#title-page {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    padding: 10% 0% 5% 0%;
}

.ws-bold {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    color: #403E3B;
    line-height: 3.2rem;
    text-align: center;
}

.cg-italic-small {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 700;
    font-size: 2.4rem;
    color: #403E3B;
    line-height: 3.2rem;
    text-align: center;
}

#article-subtitle {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 700;
    font-size: 5rem;
    color: #403E3B;
    line-height: 5rem;
    text-align: center;
    padding-bottom: 4%;
}

h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 12rem;
    color: #5B7338;
    line-height: 12rem;
    text-align: center;
}

button {
    border-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.title-down-arrow {
    width: 9%;
    height: auto;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.title-down-arrow:hover {
    scale: 120%;
    transition: all 200ms ease;
}

/*Body Copy Styles*/

.text-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 5rem 0;
    row-gap: 3rem;
}

.body-copy-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Cormorant Garamond';
    font-size: .93em;
    line-height: 1.3em;
    color: #403E3B;
}
  
p::first-letter {
    float: left;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    margin: 0 .12em 0 0;
    line-height: 0.86;
}

.hanging-punctuation::first-letter {
    margin-left: -.45em;
}

.hanging-punctuation-2::first-letter {
    margin-left: -.25em;
}

#ugly-drop-cap-on-page-eight::first-letter {
    margin: 0 .04em 0 0;
}

.img-right {
    width: 100%;
}

.img-left {
    width: 100%
}

.up-arrow {
    float: right;
    width: 9%;
    height: auto;
    align-items: center;
    transition: .5s;
}

.up-arrow:hover {
    scale: 120%;
    transition: all 200ms ease;
}

.down-arrow {
    float: left;
    width: 9%;
    height: auto;
    align-items: center;
    transition: .5s;
}

.down-arrow:hover {
    scale: 120%;
    transition: all 200ms ease;
}

#back-to-top {
    float: left;
    width: 26%;
    height: auto;
    transition: .5s;
}

#back-to-top:hover {
    scale: 120%;
    transition: all 200ms ease;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Quotation Styles*/

.big-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
    padding-top: 5rem;
}

.brown-quote {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 12rem;
    color: #A67232;
    line-height: 12rem;
    text-align: center;
}

.green-highlight {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 12rem;
    color: #5B7338;
    line-height: 12rem;
    text-align: center;
}

.blue-quote {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 12rem;
    color: #17576F;
    line-height: 12rem;
    text-align: center;
}

#too-big {
    font-size: 7.2rem;
    line-height: 7.2rem;
}

/*Dodo Animation*/


.parent {
    position: relative;
    top: 0px;
    left: 0px;
}

.gray-background {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#page11 {
    scroll-timeline-name: page11;
}

@keyframes disappearing-dodo {

    0% {
      opacity: 1;
    }

    100% {
      display: none;
      opacity: 0;
    }

}

#dodo-bird {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    animation-name: disappearing-dodo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*Media Query*/

@media screen and (max-width: 800px) {
    .six.columns {
        width: 80%;
    }
}
    
@media screen and (max-width: 600px) {

    /*Quotes*/

    .big-quote {
        margin: 8rem 0rem 0rem 0rem;
    }

    .brown-quote {
        font-size: 6rem;
        line-height: 6rem;
    }

    .green-highlight {
        font-size: 6rem;
        line-height: 6rem;
    }

    .blue-quote {
        font-size: 6rem;
        line-height: 6rem;
    }

    #too-big {
        font-size: 4rem;
        line-height: 4rem;
    }

    /*Body*/

    .text-spacing {
        row-gap: 3rem;
    }

    .img-right {
        scale: 100%
    }

    .img-left {
        scale: 100%
    }

    #title-page {
        gap: 4rem;
    }

    .ws-bold {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .cg-italic-small {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    h1 {
        font-size: 9rem;
        line-height: 9rem;
    }

    #article-subtitle {
        font-size: 2.5rem;
        line-height: 2rem;
        }

    .body-copy-container {
        flex-direction: column;
    }

    #flex-reverse {
        flex-direction: column-reverse;
    }

    .title-down-arrow {
        width: 11%;
    }

    .down-arrow {
        width: 15%;
        padding: 0rem 1rem 0rem 1rem;
    }

    .up-arrow {
        width: 15%;
        padding: 0rem 1rem 0rem 1rem;
    }

    #back-to-top {
        width: 45%;
        padding: 0rem 1rem 0rem 1rem;
    }

}